.item-enter {
  opacity: 0;
  transform: translateX(-200px);
  /* animation: drop 1s forwards; */
}

.item-enter-active {
  opacity: 1;
  transition: 2000ms linear;
  transform: translateX(0);
  /* animation: drop 1s forwards; */
}

.item-exit-active {
  opacity: 0;
  transition: 2000ms linear;
  transform: translateX(-200px);
  animation: drop 1000ms ease-in;
}

/* .drop-enter-done {
    background-color: aqua !important;
  } */

@keyframes item {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
}
